*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
/* FOR LAYOUT PURPOSES */
.Login{
    background: rgba(0, 0, 0, .55);
    border-radius: 10px;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}
.form-label{
    justify-self: flex-start;
}
.nothing{
    display: none;
}
.create-account-link{
    margin-left: 5%;
}
.create-account-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.modal-footer{
    color: red;
    display: flex;
    flex-direction: column-reverse;
}
.button-container{
    align-self: flex-end;
    display: flex;
    width: 175px;
    justify-content: space-between;
}
